v-dialog(v-model="status",
		fullscreen,
		scrollable,
		hide-overlay,
		transition="dialog-bottom-transition")

	v-card(tile)
		v-toolbar(card, dark,
				color="cyan",
				:title="text.currentStatus")

			v-icon(v-if="item.status") mdi-eye
			v-icon(v-else, color="red") mdi-eye-off
			
			v-toolbar-title {{ text.quickView }}
			v-spacer
				
			v-toolbar-items
				v-btn(v-if="access",
						dark, flat,
						@click.native="updateStatusCategory")
					span(v-if="item.status")
						v-icon mdi-eye-off
						|&nbsp;&nbsp;{{ text.hide }}
					span(v-else)
						v-icon mdi-eye
						|&nbsp;&nbsp;{{ text.visible }}

				v-btn(v-if="access",
						dark, flat,
						:to="{name: (articles ? 'productsArticle' : 'productsCategory'), params: {id: item.id}}",
						:title="text.editCategory")
					v-icon mdi-pencil
					|&nbsp;&nbsp;{{ text.edit }}

				v-btn(dark, flat,
						@click.native="$emit('close')",
						:title="text.closeWindow")
					v-icon mdi-close-box-outline
		
		v-card-text
			v-list(three-line, subheader)
				.row
					.col-md-6
						v-subheader {{ text.categoryId }} - &nbsp;
							strong  {{ articles ? item.parent_id : item.id }}
					.col-md-6(v-if="!articles")
						v-list(v-if="!parseInt(item.publication)", one-line, subheader).float-right
							v-subheader {{ text.postsCount }} - &nbsp;
								strong {{ item.subcats_count }}
						v-list(v-else, one-line, subheader).float-right
							v-subheader
								i.mdi.mdi-link.red--text(style="font-size: 18px;")
								|&nbsp;
								router-link.text-left(v-if="parseInt(item.publication)", tag="button", :to="{name: 'productsArticle', params: {id: item.id}}") Link
					.col-md-6(v-else)
						v-list(one-line, subheader).float-right
							v-subheader ID публикации - &nbsp;
								strong {{ item.id }}

				v-divider
				.row
					.col-md-4
						v-list-tile(avatar)
							v-list-tile-content
								v-list-tile-title {{ articles ? 'Название публикации' : text.categoryName }}
								v-list-tile-sub-title {{ item.name }}
					.col-md-4
						v-list-tile(avatar)
							v-list-tile-content
								v-list-tile-title {{ articles ? 'URL страницы' : text.categoryUrl }}
								v-list-tile-sub-title {{ item.url }}
					.col-md-4
				v-divider
			v-list(three-line, subheader)
				.row
					.col-md-4
						v-subheader {{ articles ? 'Изображение в катигории' : text.categoryImage }}
						v-list-tile(avatar)
							v-list-tile-content
								img(:src="img + $random()", style="max-height: 100%; max-width: 100%;")
					.col-md-4
						v-subheader Краткое описание
						v-list-tile(avatar)
							v-list-tile-content(v-html="item.description_mini")
					.col-md-4
			v-divider

		div(style="flex: 1 1 auto;")