main.content.auth {
	padding-top: 60px !important;
}
main.content.auth .content--wrap {
    padding: 40px 24px 40px;
}
.btn.blue {
	color: $white;
}

.card table.table thead td:not(:nth-child(1)),
.card table.table tbody td:not(:nth-child(1)),
.card table.table thead th:not(:nth-child(1)),
.card table.table tbody th:not(:nth-child(1)),
.card table.table thead td:first-child,
.card table.table tbody td:first-child,
.card table.table thead th:first-child,
.card table.table tbody th:first-child {
	padding: 12px 18px;
}
.card table.table tbody td, .card table.table th {
	vertical-align: middle;
}
.card table.table th i.icon {
	position: relative;
    top: -5px;
}

.opacity_6 {
	opacity: 0.6;
}

.mini-circle {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
    margin: 0px 4px;
    padding: 2px;
}

.mce-notification-warning, .mce-branding { display: none !important; }
.v-content:not(.login) { padding-top: 80px !important; padding-bottom: 40px !important; }
.v-list__tile { 
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5;
    height: 32px;
}
.theme--dark.v-card { padding: 16px 0; }

.v-toolbar__title { font-size: 16px; margin-left: 16px !important; }
.v-icon { font-size: 21px; }
.v-expansion-panel__body .v-card__text { padding: 0px 16px; }
.v-content:not(.login) .v-content__wrap { padding: 0px 24px; }
.v-input__slot { padding: 0px !important; }
.v-text-field.v-text-field--enclosed .v-text-field__details, .v-text-field.v-text-field--enclosed .v-input__slot {padding:0px;}